
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@100&display=swap');

@keyframes $dropZone-flash {
  0% { opacity: 0 }
}

@keyframes $dropZone-wiggle {
  ${(100 / 6) * 0}% { left: 0 }
  ${(100 / 6) * 1}% { left: 1em }
  ${(100 / 6) * 2}% { left: 0 }
  ${(100 / 6) * 3}% { left: -1em }
  ${(100 / 6) * 4}% { left: 0 }
  ${(100 / 6) * 5}% { left: 1em }
  ${(100 / 6) * 6}% { left: 0 }
}

@keyframes spin { 100% {transform: rotate(360deg); } }

@-moz-keyframes show { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-webkit-keyframes show { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-ms-keyframes show { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-keyframes show { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}

@-moz-keyframes hide { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
@-webkit-keyframes hide { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
@-ms-keyframes hide { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }}
@-keyframes hide { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-block-end: 0em;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-block-start: 0em;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 100;
}

#intro {
  display: block;
  width: 500px;
  max-width: 90%;
  line-height: 1.3;
}

#chart {
  display: flex;
  width: 100%;
  position: fixed;
}

.pieImage {
  -moz-animation-name: hide;
  -webkit-animation-name: hide;
  -ms-animation-name: hide;
  animation-name: hide;
  -moz-animation-duration: 0s;
  -webkit-animation-duration: 0s;
  -ms-animation-duration: 0s;
  animation-duration: 0s;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
  display: flex;
}

.pieImage.show {
  -moz-animation-name: show;
  -webkit-animation-name: show;
  -ms-animation-name: show;
  animation-name: show;
}

.pieImage svg {
  margin: 0 auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.image {
  visibility: hidden;
}

blockquote {
  font-style: italic;
  margin-block-end: 0.5em;
}

.author {
  text-align:right;
  font-size: 0.875em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

#imagearea {
  display: inline-flex;
}

#dropZoneView {
  margin: auto;
  --color: hsl(150,0%,60%);
  width: 600px;
  height: 400px;
  max-width: 90%;
  padding: 1px;
  border: 3px solid var(--color);
  border-radius: 1vmin;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

#dropZone {
  width: 100%;
  height: 100%;
  outline: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  --color: #0009;
  --bg: hsla(224, 53%, 49%, 50%);
}
#dropZone.invalid {
  --color: hsl(0, 53%, 49%);
  --bg: hsla(0, 53%, 49%, 50%);
}
#dropZone:focus #notification {
  content: "Paste a pie chart image";
}
#dropZone #notification {
  white-space: pre-wrap;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  color: white;
  background: var(--color);
  padding: .2em .5em;
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
}

#dropZone #notification .spinner {
  position: absolute;
  animation: spin 3s linear infinite;
  border-radius: 20px;
  border: 14px solid;
  border-color: transparent transparent transparent #ffffff;
}

#dropZone.invalid:after {
  animation: 0.3s ease-out dropZone-wiggle;
  content: attr(data-error-message);
}
#dropZone > * {
  float: left;
  position: absolute;
}

#resultTable {
  border-collapse: collapse;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#resultTable th {
  font-weight: normal;
  border-bottom: 2px solid;
  padding: 10px 8px;
}
#resultTable td {
  padding: 9px 8px 0;
}
#resultTable tr:hover td {
  font-weight: bold;
}
.segmentKey {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
}
